*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background-color: lightcyan;
    font-size: 1.3rem;
}

.container{
    margin: 20px auto;
    width: 400px;
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 100%;
}
th,td{
    border: 2px solid #000;
    padding: 5px;
}
table tr td{
    text-align: center;
}
table tr td span{
    display: block;
    width: 100px;
    border-radius: 8px;
    background-color: lightgreen;
    padding: 5px;
    border: 2px solid darkgreen;
}
table tr td input[type="number"]{
    width: 100%;
    padding: 5px;
    font-size: 1.8rem;
    text-align: center;
    background-color: transparent;
}
a{
    text-decoration: none;
    color: white;
}
button{
    cursor: pointer;
    padding: 5px;
    font-size: 1rem;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

a#calculate{
    background-color: blue;
    padding: 10px;
    margin: 10px;
}

.edit-btn{
    background-color: darkblue;
}
.delete-btn{
    background-color: darkred;
}
.add-btn, .save-btn{
    background-color: green;
    margin: 10px;
}
.back-btn{
    background-color: red;
}
h3 input[type="number"]{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    width: 100%;
    font-weight: bold;
}
